section>
  <h2> Menus </h2>
  <%= form_with url: menus_path do |form| %>
      <%= form.text_field :name, placeholder: "Menu Name" %>
    <%= form.submit "Create Menu !" %>
  <% end %>
  <ul>
    <% Menu.all.each do |menu| %>
      <li>
        <h3>
          <%= menu.name %>
          <% if @current_user.role == "Owner" %>
            <%= form_with url: "/menus/#{menu.id}", method: "delete" do |form| %>
              <%= form.submit "Delete Menu ?" %>
            <% end %>
            <%= form_with url: menu_items_path do |form| %>
              <%= form.text_field :menu_id, value: menu.id, style: "display: none" %>
              <%= form.text_field :name, placeholder: "Item Name" %>
              <%= form.text_field :description, placeholder: "Description" %>
              <%= form.number_field :price, placeholder: "Price in Rs per item" %>
              <%= form.submit "Add menu item to menu" %>
            <% end %>
          <% end %>
        </h3>
        <ul>
          <% MenuItem.where(menu_id: menu.id).each do |item| %>
            <li>
              <%= "#{item.name}: #{item.description} @ Rs #{item.price}" %>
              <% if @current_user.role == "Owner" %>
                <%= form_with url: "/menu_items/#{item.id}", method: "delete" do |form| %>
                  <%= form.submit "Delete Item ?" %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</section>
