<section>
  <h1> Add menu item to a menu  </h1>

  <%= form_with url: menu_items_path do |form| %>

    <div>
      Menu name  :<br/>
      <%= form.text_field :menu_name %>
    </div>
    <div>
      Item name  :<br/>
      <%= form.text_field :name %>
    </div>
    <div>
      Description  :<br/>
      <%= form.text_field :description %>
    </div>
    <div>
      Item price per item :<br/>
      <%= form.number_field :price %>
    </div>
    <%= form.submit "Add menu item to menu" %>
  <% end %>
</section>
