<section>
  <h2> Users </h2>
  <%= form_with url: users_path do |form| %>
      <%= form.text_field :first_name, placeholder: "User Name" %>
      <%= form.select :role, ["Customer", "Billing Clerk", "Owner"] %>
      <%= form.email_field :email, placeholder: "User Email" %>
      <%= form.password_field :password, placeholder: "User Password" %>
    <%= form.submit "Add User" %>
  <% end %>

</section>
