<p class= "NewUsers-title"> Welcome new user!</p>

<section class= "UsersNew" >
    <%= form_with url: users_path do |form| %>
      <div class="Form-Section" >
        <p class="FormInput-label"> First Name: </p>
        <%= text_field_tag(:first_name, nil, class: "Form-input", placeholder: "Enter your first name", autofocus: "autofocus") %>
      </div>

      <div class="Form-Section" >
        <p class="FormInput-label"> Last Name: </p>
        <%= text_field_tag(:last_name, nil, class: "Form-input", placeholder: "Enter your last name", autofocus: "autofocus") %>
      </div>

      <div class="Form-Section" >
        <p class="FormInput-label"> Email: </p>
        <%= email_field(nil, nil, name: "email", class: "Form-input", placeholder: "Enter your E-mail") %>
      </div>

      <div class="Form-Section" >
        <p class="FormInput-label"> Password: </p>
        <%= form.password_field :password, class: "Form-input" %>
      </div>
      <div class="Form-Section" >
        <p class="FormInput-label"> Role: </p>
         <%= select_tag "role", options_for_select(["customer", "clerk", "owner"], "customer"), class: "Form-input" %>
      </div>

      <div class="Form-Section" >
        <%= submit_tag("Sign-up!", class: "Form-submit") %>
      </div>

    <% end %>
</section>
